{% extends "layout.html" %}

{% block body %}
    <h1>Register</h1>

    <!-- TODO: Create a form that POSTs to /register -->
    <form method="post" action="/register">
        <!-- TODO: Add a text input for name -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <!-- TODO: Use a Jinja2 for loop to render one radio button per sport -->
        <p>Sport:</p>
        {% for sport in sports %}
            <input type="radio" id="{{ sport }}" name="sport" value="{{ sport }}" required>
            <label for="{{ sport }}">{{ sport }}</label><br>
        {% endfor %}

        <!-- TODO: Add a submit button -->
        <input type="submit" value="Register">
    </form> 
{% endblock %}
